.contact input,
.contact textarea {
    width: 60%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
    border: none;
    cursor: pointer;
}

.contact button:hover {
    background-color: #555;
}